<%- include('navbar') %>

<section class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>At Savana Hospital our aim is three fold</h2>
                    <h3>Since 1989</h3>
                    <img src="section-img.png" alt="#">
                    <p></p>
                </div>
            </div>
        </div>
        <center>
        <img src="Entrance.jpg" height="520px" width="410px">
        </center>
        <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <center>
                                <h3>Patient Centered Care</h3>
                            </center>
                            <br>
                            <p><b>We aim to prioritize the well-being and satisfaction of our patients by providing individualized, holistic care that considers not only the medical aspects but also the emotional and social needs of each patient.</b></p>
                            <br>
                            <center>
                                <h3>Clinical Excellence</h3>
                            </center>
                            <br>
                            <p><b>We strive for clinical excellence by embracing the latest medical advancements, state-of-the-art technologies, and a continuous commitment to the professional development of our healthcare team. This ensures that our patients receive the highest quality of care in a safe and supportive environment.</b></p>
                            <br>
                            <center>
                                <h3>Community Impact</h3>
                            </center>
                            <br>
                            <p><b>Beyond the walls of our hospital, we aim to make a positive impact on the health and well-being of our community. Through health education, preventive programs, and community outreach initiatives, we seek to promote a culture of wellness and disease prevention.</b></p>
                            <br>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</section>
<section class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Vision</h2>
                    <img src="section-img.png" alt="#">
                    <p></p>
                </div>
            </div>
        </div>
        <center>
            <img src="logoslide.png" height="320px" width="210px">
            </center>
        <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <p><b>Our vision at Saravana Hospital is to be the region’s foremost healthcare institution, recognized for pioneering medical advancements, exceptional patient outcomes, and a commitment to community well-being. We strive to create an environment where innovation and compassion converge, setting new standards in healthcare delivery and positively impacting lives on a global scale.</b></p>
                            <br>
                        </div>      
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Mission</h2>
                    <img src="section-img.png" alt="#">
                    <p></p>
                </div>
            </div>
        </div>
        <center>
            <img src="logoslide.png" height="320px" width="210px">
            </center>
        <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <p><b>At Saravana Hospital , our mission is to deliver unparalleled, compassionate healthcare to our diverse community. We are committed to providing comprehensive, world-class medical services across various specialties, addressing the evolving needs of our patients with a focus on excellence, integrity, and empathy.</b></p>
                            <br>
                        </div>      
                    </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>