<%- include('navbar') %>
<br><br>
<div class="container">
    <div class="row">
<div class="col-12">
    <div class="blog-comments">
        <center>
        <h1>Our Doctors</h1>
        </center>
        <div class="comments-body">
<div class="single-comments">
    <div class="main">
        <br>
        <center>
        <div class="head">
            <img src="d4.jpg" alt="#" height="500px" width="420px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.G.Marimuthu </h3>
            <h4>Chairman</h4>
           <h4>Consultant - Pediatrician</h4>
        </div>
    </div>
</center>
</div>	
<br><br>	
<!--/ End Single Comments -->
<!-- Single Comments -->
<div class="single-comments left">
    <div class="main">
        <center>
        <div class="head">
            <img src="d2.jpg" alt="#" height="500px" width="420px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.M.Thilagavathi</h3>
            <h4>Consultant - Obstetrics and Gynaecologist</h4>
        </div>
    </div>
</center>
</div>	
<br><br>	
<!--/ End Single Comments -->
<!-- Single Comments -->
<div class="single-comments">
    <div class="main">
        <center>
        <div class="head">
            <img src="d3.jpg" alt="#" height="300px" width="320px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.M.Sri Dhivya </h3>
            <h4>General and Emergency Physician</h4>
        </div>
    </div>
</center>
</div>
<br><br>
<div class="single-comments">
    <div class="main">
        <center>
        <div class="head">
            <img src="d5.jpg" alt="#" height="500px" width="427px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.D.Mithun Govind</h3>
            <h4>Minimal Access Surgeon </h4>
        </div>
    </div>
</center>
</div>										
</div>
</div>
</div>
</div>
</div>
<br><br><br>

<%- include('footer') %>