<%- include('navbar') %>
<br><br>
<div class="container">
    <div class="row">
<div class="col-12">
    <div class="blog-comments">
        <center>
        <h1>Our Doctors</h1>
        </center>
        <div class="comments-body">
<div class="single-comments">
    <div class="main">
        <br>
        <center>
        <div class="head">
            <img src="d4.jpg" alt="#" height="500px" width="420px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.G.Marimuthu M.B.B.S.,D.CH</h3>
            <h3>Pediatrician</h3>
            <p><b>Cheif Doctor</b></p>
            <a href="#">Learn More</a>
        </div>
    </div>
</center>
</div>	
<br><br>	
<!--/ End Single Comments -->
<!-- Single Comments -->
<div class="single-comments left">
    <div class="main">
        <center>
        <div class="head">
            <img src="d2.jpg" alt="#" height="500px" width="420px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.M.Thilagavathi M.B.B.S</h3>
            <h3>Gynecologist</h3>
            <p><b>Department of </b></p>
            <a href="#">Contact</a>
        </div>
    </div>
</center>
</div>	
<br><br>	
<!--/ End Single Comments -->
<!-- Single Comments -->
<div class="single-comments">
    <div class="main">
        <center>
        <div class="head">
            <img src="d3.jpg" alt="#" height="300px" width="320px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.M.Sri Dhivya M.B.B.S.,M.EM</h3>
            <h3>Emergency</h3>
            <p><b>Department of Emergency</b></p>
            <a href="#">Contact</a>
        </div>
    </div>
</center>
</div>
<br><br>
<div class="single-comments">
    <div class="main">
        <center>
        <div class="head">
            <img src="d5.jpg" alt="#" height="500px" width="427px"/>
        </div>
        <br>
        <div class="body">
            <h3>Dr.Mithun Govind M.B.B.S MS,FMAS.,DMAS.,</h3>
            <p><b>Department of </b></p>
            <a href="#">Contact</a>
        </div>
    </div>
</center>
</div>										
</div>
</div>
</div>
</div>
</div>
<br><br><br>

<%- include('footer') %>