<!-- Footer Area -->
<html>
    <body>
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Saravana Hospital
                        </h2>
                        <p>Follow Us </p>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>	
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consulting</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>24*7 Open Hospital</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>© Copyright 2024  |  All Rights Reserved by <a href="" target="_blank">CloudsBySunil</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->

<!-- jquery Min JS -->
<script src="jquery.min.js"></script>
<!-- jquery Migrate JS -->
<script src="jquery-migrate-3.0.0.js"></script>
<!-- jquery Ui JS -->
<script src="jquery-ui.min.js"></script>
<!-- Easing JS -->
<script src="easing.js"></script>
<!-- Color JS -->
<script src="colors.js"></script>
<!-- Popper JS -->
<script src="popper.min.js"></script>
<!-- Bootstrap Datepicker JS -->
<script src="bootstrap-datepicker.js"></script>
<!-- Jquery Nav JS -->
<script src="jquery.nav.js"></script>
<!-- Slicknav JS -->
<script src="slicknav.min.js"></script>
<!-- ScrollUp JS -->
<script src="jquery.scrollUp.min.js"></script>
<!-- Niceselect JS -->
<script src="niceselect.js"></script>
<!-- Tilt Jquery JS -->
<script src="tilt.jquery.min.js"></script>
<!-- Owl Carousel JS -->
<script src="owl-carousel.js"></script>
<!-- counterup JS -->
<script src="jquery.counterup.min.js"></script>
<!-- Steller JS -->
<script src="steller.js"></script>
<!-- Wow JS -->
<script src="wow.min.js"></script>
<!-- Magnific Popup JS -->
<script src="jquery.magnific-popup.min.js"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="bootstrap.min.js"></script>
<!-- Main JS -->
<script src="main.js"></script>
</body>
</html>