<%- include('navbar') %>
<head>
    <title>Best Laparoscopic Surgeon in Rajapalayam |Dr Mithun Govind| Saravana Hospital Dhalavaipuram</title>
</head>		
<body>
    <br><br>
    <center>              
        <img src="d5.jpg" alt="" width="400px" height="300px">
        <br><br>
        <h2>Discover Unrivaled Surgical Expertise at Sarvana Hospital</h2>
        <h3>Dr.Mithun Govind</h3>
        <br>
        <h4>Laparoscopic Surgeon and Laser Surgeon (Hysterectomy)</h4>
        <br>
        <h2>For Appointments</h2>
        <br>
        <button  class="btn"><a href="tel:9944733104">Call Us</a></button>
        <p>Sarvana Hospital proudly stands as the unrivaled leader in laparoscopic surgery in Rajapalayam, setting the gold standard for minimally invasive procedures. Our dedicated team of laparoscopic surgeons, equipped with extensive experience and expertise, has transformed the landscape of surgical care in the region.</p>
        <br><br><br>
        <img src="sr2.webp" alt="" width="600px" height="500px">
        <br><br>
        <h2>Exceptional Surgical Team: Expertise You Can Trust</h2>
        <p>Welcome to Sarvana Hospital, where surgical excellence is not just a commitment but a way of life. Our world-class institution stands as a testament to precision, compassion, and innovation in healthcare. Explore why Sarvana Hospital is your trusted partner for unparalleled surgical care.</p>
        <br><br>
        <img src="sr3.jpeg" alt="" width="600px" height="500px">
        <br><br>
        <h3>Patient-Centric Approach: Your Well-being, Our Priority</h3>
        <p>Experience healthcare that revolves around you. At Sarvana Hospital, we prioritize open communication, empathy, and personalized treatment plans. Our patient-centric approach ensures that you feel supported and well-informed throughout your surgical journey. Your trust is our greatest reward.</p>
    </center>
</body>
		<br><br><br><br>
<%- include('footer') %>